<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.leo.myspringboot.dao.StudentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.leo.myspringboot.beans.Student">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="stu_number" property="stuNumber" />
		<result column="gender" property="gender" />
		<result column="age" property="age" />
		<result column="password" property="password" />
		<result column="stu_mobile" property="stuMobile" />
		<result column="stu_email" property="stuEmail" />
		<result column="role_id" property="roleId" />
		<result column="stu_profile" property="stuProfile" />
		<result column="par_name" property="parName" />
		<result column="par_mobile" property="parMobile" />
		<result column="create_time" property="createTime" />
		<result column="create_user_id" property="createUserId" />
		<result column="update_time" property="updateTime" />
		<result column="update_user_id" property="updateUserId" />
		<result column="state" property="state" />
		<result column="remark" property="remark" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, stu_number AS stuNumber, gender, age, password, stu_mobile AS stuMobile, stu_email AS stuEmail, role_id AS roleId, stu_profile AS stuProfile, par_name AS parName, par_mobile AS parMobile, create_time AS createTime, create_user_id AS createUserId, update_time AS updateTime, update_user_id AS updateUserId, state, remark
    </sql>

	<select id="selectPageWithParam" resultType="com.leo.myspringboot.beans.Student" parameterType="com.leo.myspringboot.beans.Student">
		select
        <include refid="Base_Column_List"/>
		from t_student
	</select>

	<select id="selectOneByObj" resultType="com.leo.myspringboot.beans.Student" parameterType="java.lang.Long">
		select
        <include refid="Base_Column_List"/>
		from t_student
		<where>
			id = #{id, jdbcType=VARCHAR}
		</where>
	</select>
</mapper>
